[submodule "external/lsplant"]
	path = external/lsplant
	url = https://github.com/pumPCin/LSPlant.git
	branch = master
[submodule "external/dobby"]
	path = external/dobby
	url = https://github.com/pumPCin/Dobby.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/pumPCin/fmt.git
	branch = master
[submodule "external/cxx"]
	path = external/cxx
	url = https://github.com/pumPCin/libcxx.git
	branch = master
